@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Quicksand", sans-serif;
  }
}

.ring-btn {
  @apply bg-white border-reddish text-reddish hover:bg-reddish hover:text-white !important;
}

.full-btn {
  @apply bg-reddish text-white !important;
}

.email-btn {
  @apply bg-white text-blue-700 border-blue-700 focus:bg-gray-400 !important;
}

.text-input {
  @apply focus:ring-0 focus:shadow-none focus:outline-0 focus:border-reddish !important;
}

.navbar {
  @apply bg-gray-200 !important;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
