/Include
/Lib
/Scripts
pyvenv.cfg
realtors-254.json
__pycache__
myDB.db
main.py
data.json
data1.json
data2.json
deploy_server.sh

/server/.flaskenv
/server/.env
/server/main.py
/var
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
me.html

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
